* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(rgb(7 8 21), rgb(0 0 0));
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    background-attachment: fixed;
    background-position-x: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}

#box-area1 {
    transform-style: preserve-3d;
    animation: rotate1 6s linear infinite;
    /* border: 1px solid #fff; */
}

@keyframes rotate1 {
    0% {
        transform: rotate3d(0,0,0,0);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

#box-area2 {
    transform-style: preserve-3d;
    animation: rotate2 6s linear infinite;
    /* border: 1px solid #fff; */
}


@keyframes rotate2 {
    0% {
        transform: rotate3d(0,0,0,0);
    }
    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

#box-area3 {
    transform-style: preserve-3d;
    animation: rotate3 6s linear infinite;
    /* border: 1px solid #fff; */
}


@keyframes rotate3 {
    0% {
        transform: rotate3d(0,0,0,0);
    }
    100% {
        transform: rotate3d(1, 1, 0, 360deg);
    }
}


.box {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    top: 50%;
    left: 50%;
}

#box-front {
    transform: translate3d(-100px, -100px, 100px);
}

#box-back {
    transform: translate3d(-100px, -100px, -100px);
}

#box-right {
    transform: translateY(-100px) rotateY(90deg);
}

#box-left {
    transform: translate3d(-200px, -100px, 0) rotateY(90deg);
}

#box-top {
    transform: translate3d(-100px, -200px, 0) rotateX(90deg);
}

#box-bottom {
    transform: translateX(-100px) rotateX(90deg);
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-areas: '1 2 3';
    grid-gap: 0;
    padding: 0;
}

.grid-container>div {
    border: 1px solid #fff;
}

.bg-front {
    background-color: #fa5252;
}

.bg-back {
    background-color: #f76707;
}

.bg-right {
    background-color: #12b886;
}

.bg-left {
    background-color: #4c6ef5;
}

.bg-top {
    background-color: #fab005;
}

.bg-bottom {
    background-color: #7950f2;
}